* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
}

div label :nth-child(3){
    display:none;
}

input{
    display: none;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    width: 500px;
    height: 40px;
    padding: 0 20px;
    transition: background-color 0.4s ease 0s;
}

label:hover {
    background-color: #ccc;
    cursor: pointer;
}

p{
    padding:20px;
}

.container div{
    line-height: 20px;
    height: 40px;
    overflow:hidden;
    transition: all 0.3s ease 0s;
}

input:checked + div{
    height: 160px;
}

input:checked + div label{
    background-color: #ccc;
}

input:checked + div label :nth-child(2){
    display:none;
}

input:checked + div label :nth-child(3){
    display:block;
}


































/* .parent {
    width:1000px;
    background-color: #eeeeee;
      display:flex;
    justify-content: space-between;
    border: 1px solid red;
    height: 60px;
      overflow:hidden;
}

.parent:hover {
    background-color: #ccc;
    transition: all 0.4s ease 0s;
    cursor: pointer;
      overflow:none;
}

.parent p,
.info {
    padding: 20px;
}

.info {
    width:1000px;
    line-height: 25px;
    background-color: white;
    border: 1px solid;
    display: none;
}

.section1:hover+.info,
.section2:hover+.info,
.section3:hover+.info {
    display: block;
    transition: all 0.4s ease 0s;

} */